*{
    padding: 0;
    margin: 0;

}


header{
    height: 60px;
}

.safe{
    width: 1200px;
    margin: auto;
}


.header{
    text-align: right;
    font-size: 14px;
    color:#666666;
    line-height: 60px;
}


#f1{
    height: 940px;
    background-image: url("../image/t7.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    text-align: center;
}
.p1{
    padding-top: 146px;

}
.p2{
    padding-top: 30px;
    font-size: 28px;
    color: #43698f;
    padding-bottom: 90px;
}
.p3{
    font-size: 0;

}
.p3>button{
    height: 60px;
    width: 280px;
    font-size: 22px;
    background-color:white;
    color:#24a9f1;
    border-radius: 10px;
    border: none;

}
.p3 i{
    font-size: 32px;
}
#p4{
    margin-right: 24px;
}
.p5{
    padding-top: 50px;
    color: white;
padding-bottom: 28px;
    font-size: 18px;
letter-spacing: 5px;
}